---
layout: default.ejs
title: "Путешествия по Белоруси: экскурсии, маршруты, достопримечательности"
---

<div class="container">
    <%- include('/sectionPromo') %>

    <%- include('/sectionStats') %>

    <%- include('/sectionApp') %>

    <%- include('/sectionAbout') %>

    <%- include('/sectionFeedbacks') %>
</div>
