---
date: Last Modified
---
<!DOCTYPE html>
<%
locale = locale || 'ru';
site[locale] = site[locale] || {};
lang[locale] = lang[locale] || {};
const pageDescription = locals.description || site[locale].description;
const env = process.env.ENV || 'dev';
%>
<html lang="<%= locale %>">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title><%= locals.title %></title>
<meta name="description" content="<%= pageDescription %>" />
<meta name="apple-itunes-app" content="app-id=<%= site.appAppStoreId %>, app-argument=https://radzima.app">
<%- include('/altlang') %>
<link rel="stylesheet" href="/assets/main.css?<%- cacheBust.mainCss %>" />
<link rel="icon" type="image/png" href="/images/logo-icon.svg" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="<%= site.url[env] %>" />
<meta property="og:title" content="<%= locals.title %>" />
<meta property="og:description" content="<%= pageDescription %>" />
<meta property="og:url" content="<%= site.url[env] %>" />
<meta property="og:image" content="<%= site.url[env] %>/images/og-1200x628.png" />
<meta property="og:site_name" content="Radzima" /> 

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="<%= site.url[env] %>" />
<meta name="twitter:title" content="<%= locals.title %>">
<meta name="twitter:description" content="<%= pageDescription %>">

<!-- Yandex.Metrika counter -->
<script>
(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
var z = null;m[i].l=1*new Date();
for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
ym(90046942, "init", { clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true });
</script>
<!-- /Yandex.Metrika counter -->

<meta name="yandex-verification" content="974824206486c706" />
<meta name="google-site-verification" content="nr61YsKApjIB2P2e4wCtS87ukMFtr3R2NE486QlVWM0" />
</head>
<body>

<div class="page-layout">
  <%- include('/header') %>
  <main class="main">
    <%- content -%>
    <%- include('/sectionDownloadBanner') %>
    <%- include('/sectionFeedback') %>
    <%- include('/dialog') %>
  </main>
  <%- include('/footer') %>
</div>

<script src="/assets/main.js?<%- cacheBust.mainJs %>"></script>
<script src="/assets/swiper.min.js"></script>
<noscript><img src="https://mc.yandex.ru/watch/90046942" style="position:absolute; left:-9999px;" alt="" /></noscript>
</body>
</html>
