---
layout: default.ejs
title: Radzima App
---
<script>
let locale = 'ru';
const langs = <%- JSON.stringify(Object.keys(lang)) %>;
try {
    const savedLocale = window.localStorage.getItem('locale');
    if(savedLocale && langs.indexOf(savedLocale) !== -1){
        locale = savedLocale;
    } else {
        const browserLocale = window.navigator && window.navigator.languages && window.navigator.languages[0];
        if(browserLocale && langs.indexOf(browserLocale) !== -1) {
            locale = browserLocale;
        }
    }
    window.localStorage.setItem('locale', locale);
} catch (err) {}
window.location.replace('/'+locale);
</script>

<div class="container">
    <h1>Radzima App</h1>
    
    <div class="container">
        <ul class="c-sitemap-list">
        <% collections.all.forEach((page) => { %>
            <li>
                <a href="<%= page.url %>"><%= page.data.title %></a>
                <div class="c-sitemap-url"><%= site.url %><%= page.url %></div>
            </li>
        <% }); %>
        </ul>
    </div>

</div>
