---
layout: default.ejs
title: "Падарожжы па Беларусі: экскурсіі, маршруты, славутасці"
---

<div class="container">
    <%- include('/sectionPromo') %>

    <%- include('/sectionStats') %>

    <%- include('/sectionApp') %>

    <%- include('/sectionAbout') %>

    <%- include('/sectionFeedbacks') %>
</div>
