<div class="c-download-banner">
    <div class="container">
        <h2><%= lang[locale].downloadText %></h2>
        <div class="c-download-banner__btns">
            <a href="<%= site.appGooglePlay %>" target="_blank" rel="noopener">
                <img alt="<%= lang[locale].downloadGooglePlay %>" src="/images/app-google-play.svg" width="167" height="48">
            </a>
            <a href="<%= site.appAppleStore %>" target="_blank" rel="noopener">
                <img alt="<%= lang[locale].downloadAppStore %>" src="/images/app-app-store.svg" width="166" height="48">
            </a>
        </div>
    </div>
</div>

<div class="c-feedback">
    <div class="container">
        <h2><%= lang[locale].footFeedbackTitle %></h2>
        <%- lang[locale].footFeedbackBody %>
        <button type="button" class="btn-primary">
            <%= lang[locale].feedbackBtn %>
        </button>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer__copy">
            &copy; 2022 EPAM Systems, All rights reserved
        </div>
        <div class="footer__apps">
            <a href="<%= site.appGooglePlay %>" target="_blank" rel="noopener">
                <img alt="<%= lang[locale].downloadGooglePlay %>" src="/images/app-google-play.svg" width="139.16" height="40">
            </a>
            <a href="<%= site.appAppleStore %>" target="_blank" rel="noopener">
                <img alt="<%= lang[locale].downloadAppStore %>" src="/images/app-app-store.svg" width="138.33" height="40">
            </a>
        </div>
        <div class="footer__links">
            <a href="<%= site.privacyPolicy %>" target="_blank" rel="noopener"><%= lang[locale].privacyPolicy %></a>
        </div>
    </div>
</footer>