<footer class="footer">
    <div class="container">
        <div class="footer__copy">
            &copy; 2022 EPAM Systems, All rights reserved
        </div>

        <div class="footer__links">
            <a href="/<%= locale %>/privacy-policy" target="_blank"><%= lang[locale].privacyPolicy %></a>
            <%= lang[locale].and %>
            <a href="/<%= locale %>/tearms-and-conditions" target="_blank"><%= lang[locale].termsPage %></a>
        </div>
    </div>
</footer>
