<div class="c-download-banner">
    <div class="container">
        <h2>Скачайте приложение и начните свое увлекательное путешествие по Беларуси </h2>
        <div class="c-download-banner__btns">
            <a href="<%= site.appGooglePlay %>" target="_blank" rel="noopener">
                <img alt="Get it on Google Play" src="/images/app-google-white.png" width="167" height="48">
            </a>
            <a href="<%= site.appAppleStore %>" target="_blank" rel="noopener">
                <img alt="Download on the App Store" src="/images/app-apple-white.png" width="166" height="48">
            </a>
        </div>
    </div>
</div>

<div class="c-feedback">
    <div class="container">
        <h2>Мы становимся лучше благодаря вам</h2>
        <p>Расскажите нам о своем опыте работы с Radzima.</p>
        <p>Пожалуйста, поделитесь отзывом, помогите нам стать сильнее и лучше</p>
        <button type="button" class="btn-primary">
            <%= lang[locale].feedbackBtn %>
        </button>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer__copy">
            &copy; 2022 Epam Systems, All rights reserved
        </div>
        <div class="footer__apps">
            <a href="<%= site.appGooglePlay %>" target="_blank" rel="noopener">
                <img alt="Get it on Google Play" src="/images/app-google-black.png" width="134" height="40">
            </a>
            <a href="<%= site.appAppleStore %>" target="_blank" rel="noopener">
                <img alt="Download on the App Store" src="/images/app-apple-black.png" width="134" height="40">
            </a>
        </div>
        <div class="footer__links">
            <a href="<%= site.privacyPolicy %>" target="_blank" rel="noopener"><%= lang[locale].privacyPolicy %></a>
        </div>
    </div>
</footer>