<a href="<%= site.appGooglePlay %>" target="_blank" rel="noopener">
    <picture>
        <source type="image/webp"
                srcset="/images/badges/<%= lang[locale].googlePlayImageName %>@1x.webp 1x,
            /images/badges/<%= lang[locale].googlePlayImageName %>@2x.webp 2x,
            /images/badges/<%= lang[locale].googlePlayImageName %>@3x.webp 3x">
        <img srcset="/images/badges/<%= lang[locale].googlePlayImageName %>@3x.png 3x,
    /images/badges/<%= lang[locale].googlePlayImageName %>@2x.png 2x,
     /images/badges/<%= lang[locale].googlePlayImageName %>@1x.png 1x"
             alt="<%= lang[locale].googlePlayImageAlt %>"
             src="/images/badges/<%= lang[locale].googlePlayImageName %>"
             width="161"
             height="48">
    </picture>
</a>
