<header class="header">
    <div class="container">
        <a href="/<%= locale %>" class="header__logo">
            <span class="u-visually-hidden">Radzima</span>
        </a>
        <div class="header__lang">
            <%- include('/lang') %>
        </div>

        <button type="button" class="header__nav-btn u-mobile-only">
            <span class="u-visually-hidden header__nav-btn-text-open"><%= lang[locale].navigation %></span>
            <span class="u-visually-hidden header__nav-btn-text-close"><%= lang[locale].closeDialog %></span>
        </button>
        <div class="header__nav-content u-mobile-only">
            <div class="header__lang">
                <%- include('/lang') %>
            </div>
        </div>
    </div>
</header>