<%
var langs = Object.keys(lang);
%>
<ul class="c-lang">
<% langs.forEach((lng) => { 
    if(lng === locale) {
    %>
    <li class="c-lang__current" aria-hidden="true"><%= lng %></li>
    <%
    } else {
    %>
    <li>
        <a href="/<%= lng %>" rel="alternate" hreflang="<%= lng %>" aria-label="<%= lang[locale].langSwitch.replace('%', lang[lng].langName[locale]) %>">
            <%= lng %>
        </a>
    </li>
    <%
    }
}); %>
</ul>
