<% if (!sectionFeedbacks[locale]) { locale = site.defaultLocale; } %>
<div class="c-feedbacks">
  <h2 class="c-section-head"><%= sectionFeedbacks[locale].sectionTitle %></h2>
  <div class="c-feedbacks__nav">
    <button class="c-feedbacks__prev"></button>
    <button class="c-feedbacks__next"></button>
  </div>
  <div class="swiper c-feedbacks__items">
    <div class="swiper-wrapper">
      <% feedbacks.forEach((post) => { %>
      <div class="swiper-slide c-feedbacks__item">
        <div class="c-feedbacks__item-head">
          <div class="c-feedbacks__item-userpic">
            <img
              src="https://eu.ui-avatars.com/api/?background=random&name=<%= post.author.replace(/\s/g, '%20') %>&size=48"
              alt="<%= post.author %>"
              aria-hidden="true"
            />
          </div>
          <div class="c-feedbacks__item-name"><%= post.author %></div>
          <div
            class="c-feedbacks__item-rate"
            style="width: <%= Number(post.rate) * 22 %>px"
          >
            <span class="u-visually-hidden"
              ><%= sectionFeedbacks[locale].rate %> <%= post.rate %></span
            >
          </div>
        </div>
        <div class="c-feedbacks__item-body"><%= post.body %></div>
        <div class="c-feedbacks__item-source">
          <% if(post.source === 'app store'){ %>
          <div class="c-feedbacks__from-apple"></div>
          <span class="u-visually-hidden"
            ><%= sectionFeedbacks[locale].publishedAt %> Apple App Store</span
          >
          <% } %> <% if(post.source === 'google play'){ %>
          <div class="c-feedbacks__from-google"></div>
          <span class="u-visually-hidden"
            ><%= sectionFeedbacks[locale].publishedAt %> Google Play Store</span
          >
          <% } %>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="c-feedbacks__pagination"></div>
</div>
