<h2 class="c-section-head"><%= sectionApp[locale].sectionTitle %></h2>
<div class="c-app">
  <div class="swiper c-app__imgs">
    <div class="swiper-wrapper">
      <% sectionApp[locale].items.forEach((item, i) => { %>
        <div class="swiper-slide c-app__img">
          <img id="<%= item.id %>"
            src="/images/slides/step<%= i + 1 %>-<%= locale %>-m.jpg"
            srcset='/images/slides/step<%= i + 1 %>-<%= locale %>-m.jpg 400w,
                    /images/slides/step<%= i + 1 %>-<%= locale %>.jpg 1264w'
            sizes='(max-width: 400px) 400px,
                    100vw'
            alt="<%= sectionApp[locale].items[0].alt %>"
          >
        </div>
      <% }); %>
    </div>
    
  </div>
  <div class="c-app__grid">
    <% sectionApp[locale].items.forEach((item, i) => { %>
      <button class="c-app__grid-cell" data-index="<%= i %>">
        <h3><%= item.title %></h3>
        <p><%= item.body %></p>
      </button>
    <% }); %>
  </div>
  <div class="c-app__pagination"></div>
</div>
