<h2 class="c-section-head"><%= sectionApp[locale].sectionTitle %></h2>
<div class="c-app">
  <div class="c-app__desktop-img">
    <img id="screenshot-app"src="/images/screenshot-app-1.png" alt="<%= sectionApp[locale].items[0].alt %>">
  </div>
  <div class="swiper c-app__imgs u-hidden">
    <div class="swiper-wrapper">
      <% sectionApp[locale].items.forEach((item, i) => { %>
        <div class="swiper-slide c-app__img">
          <img id="<%= item.id %>" src="<%= item.src %>" alt="<%= item.alt %>">
        </div>
      <% }); %>
    </div>
    <div class="c-app__pagination"></div>
  </div>
  <div class="c-app__grid">
    <% sectionApp[locale].items.forEach((item, i) => { %>
      <button class="c-app__grid-cell <%= i === 0 ? 'c-app__grid-cell__selected' : '' %>" id="description-screenshot-app-<%= i + 1 %>">
        <h3><%= item.title %></h3>
        <p><%= item.body %></p>
      </button>
    <% }); %>
  </div>
</div>
