<% if (!sectionFeedbacks[locale]) { locale = site.defaultLocale; } %>
<div class="c-feedbacks">
  <h2 class="c-section-head"><%= sectionFeedbacks[locale].sectionTitle %></h2>
  <div class="c-feedbacks__nav">
    <button class="c-feedbacks__prev"></button>
    <button class="c-feedbacks__next"></button>
  </div>
  <div class="swiper c-feedbacks__items">
    <div class="swiper-wrapper">
      <% feedbacks.forEach((post) => { %>
      <div class="swiper-slide c-feedbacks__item">
        <div class="c-feedbacks__item-head">
          <div class="c-feedbacks__item-userpic"><%- post.image %></div>
          <div class="c-feedbacks__item-name"><%= post.author %></div>
          <div
            class="c-feedbacks__item-rate"
            style="width: <%= Number(post.rate) * 22 %>px"
          >
            <span class="u-visually-hidden"
              ><%= sectionFeedbacks[locale].rate %> <%= post.rate %></span
            >
          </div>
        </div>
        <div class="c-feedbacks__item-body"><%= post.body %></div>
        <div class="c-feedbacks__btn-full-wrap">
          <div
            class="c-feedbacks__btn-full"
            role="button"
            data-title="<%= sectionFeedbacks[locale].fullTextDialog %>"
          >
            <%= sectionFeedbacks[locale].fullTextBtn %>
          </div>
        </div>
        <div class="c-feedbacks__item-source">
          <% if(post.source === 'app store'){ %>
          <div class="c-feedbacks__appstore">
            <div class="c-feedbacks__store-prefix"><%= sectionFeedbacks[locale].publishedAt %></div>
            <div class="c-feedbacks__store-name">Apple App Store</div>
          </div>
          <% } %> <% if(post.source === 'google play'){ %>
          <div class="c-feedbacks__googlestore">
            <div class="c-feedbacks__store-prefix"><%= sectionFeedbacks[locale].publishedAt %></div>
            <div class="c-feedbacks__store-name">Apple App Store</div>
          </div>
          <% } %>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="c-feedbacks__pagination"></div>
</div>
