<h2 class="c-section-head"><%= sectionStats[locale].sectionTitle %></h2>
<div class="c-stats">
    <div class="c-stats__body">
        <h3><%- sectionStats[locale].title %></h3>
        <p><%= sectionStats[locale].text %></p>
    </div>
    <div class="c-stats__grid">
        <div class="c-stats__grid-cell">
            <div class="c-stats__grid-value">200 +</div>
            <div class="c-stats__grid-label"><%= sectionStats[locale].cellUsers %></div>
        </div>
        <div class="c-stats__grid-cell">
            <div class="c-stats__grid-value">5.0</div>
            <div class="c-stats__grid-label"><%= sectionStats[locale].cellRate %></div>
        </div>
        <div class="c-stats__grid-cell">
            <div class="c-stats__grid-value">500 +</div>
            <div class="c-stats__grid-label"><%= sectionStats[locale].cellObjects %></div>
        </div>
        <div class="c-stats__grid-cell">
            <div class="c-stats__grid-value">136</div>
            <div class="c-stats__grid-label"><%= sectionStats[locale].cellRoutes %></div>
        </div>
    </div>
</div>
