<div class="c-download-banner">
    <div class="container">
        <h2><%= lang[locale].downloadText %></h2>
        <div class="c-download-banner__btns">
            <%- include('/googleplay_badge') %>
            <%- include('/appstore_badge') %>
        </div>
    </div>
    <div class="c-download-banner__btns_bottom">
        <%- include('/googleplay_badge') %>
        <%- include('/appstore_badge') %>
    </div>
</div>
