<%
if (!sectionPromo[locale]) { locale = site.defaultLocale; }
%>
<div class="c-promo">
    <div class="c-promo__body">
        <h1><%= sectionPromo[locale].title %></h1>
        <p><%= sectionPromo[locale].text %></p>
        <div class="c-promo__btns">
            <a href="<%= site.appGooglePlay %>" target="_blank" rel="noopener">
                <img alt="<%= lang[locale].downloadGooglePlay %>" src="/images/app-google-play.svg" width="167" height="48">
            </a>
            <a href="<%= site.appAppleStore %>" target="_blank" rel="noopener">
                <img alt="<%= lang[locale].downloadAppStore %>" src="/images/app-app-store.svg" width="166" height="48">
            </a>
        </div>
    </div>
    <div class="c-promo__img">
        <img src="/images/promo.svg" alt="">
    </div>
</div>