---
layout: default.ejs
title: Radzima.app
---

<div class="container">
    <%- include('/sectionPromo') %>

    <%- include('/sectionStats') %>

    <%- include('/sectionApp') %>

    <%- include('/sectionAbout') %>

    <%- include('/sectionFeedbacks') %>

</div>
