---
layout: default.ejs
title: "Traveling in Belarus: excursions, routes, sights"
---

<div class="container">
    <%- include('/sectionPromo') %>

    <%- include('/sectionStats') %>

    <%- include('/sectionApp') %>

    <%- include('/sectionAbout') %>

    <%- include('/sectionFeedbacks') %>

</div>
