---
layout: default.ejs
title: Home page
---

<div class="container">
    <h1>Travel and discover Belarus you didn't know before</h1>
    <p>Discover national parks, historical sites and attractions with the guide app. Look for excursions and routes in the catalog, and go on an exciting journey.</p>
    
    <div class="c-feedbacks">
        <h2 class="c-section-head">о нас говорят</h2>
        <div class="swiper c-feedbacks__items">
            <div class="swiper-wrapper">
                <% feedbacks[locale].forEach((post) => { %>
                    <div class="swiper-slide c-feedbacks__item">
                        <div class="c-feedbacks__item-head">
                            <div class="c-feedbacks__item-name">
                                <%= post.author %>
                            </div>
                            <div class="c-feedbacks__item-source">
                                <%= post.source %>
                            </div>
                            <div class="c-feedbacks__item-rate">
                                <%= post.rate %>
                            </div>
                        </div>
                        <div class="c-feedbacks__item-body">
                            <%= post.body %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="c-feedbacks__pagination"></div>
    </div>

    <p><a href="/sitemap"><%= lang[locale].sitemap %></a></p>
</div>
